/* line 1, ../sass/double_pendulum.sass */
.sidebar {
  background: #fafafa;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  min-width: 200px;
  height: 100%;
  margin: 0;
  padding: 10px 5px;
}
/* line 9, ../sass/double_pendulum.sass */
.sidebar label {
  margin: 10px 0 15px 10px;
  display: block;
}
/* line 12, ../sass/double_pendulum.sass */
.sidebar .name-label {
  display: block;
}
/* line 14, ../sass/double_pendulum.sass */
.sidebar input {
  margin: 5px 5px 0px 5px;
}
/* line 16, ../sass/double_pendulum.sass */
.sidebar input.submit-btn {
  margin: 0 0 0 10px;
}

/* line 19, ../sass/double_pendulum.sass */
.phys-canvas {
  float: left;
}

/* line 22, ../sass/double_pendulum.sass */
.submit-btn {
  width: 80%;
  padding: 5px;
  text-align: center;
}
